CH340G_Test/Project Outputs for CH340G_Test/*
CH340G_Test/History/
MachXO2FPGA/History/
MachXO2FPGA/Project Logs for MachXO2FPGA/
MachXO2FPGA/__Previews/*
MachXO2FPGA/Project Outputs for MachXO2FPGA/
CH340G_Test/Project Logs for CH340G_Test/
CH340G_Test/History/

