CH340G_Test/Project Outputs for CH340G_Test/*
CH340G_Test/History/
MachXO2FPGA/History/
MachXO2FPGA/Project Logs for MachXO2FPGA/
MachXO2FPGA/__Previews/*
MachXO2FPGA/Project Outputs for MachXO2FPGA/
CH340G_Test/Project Logs for CH340G_Test/
CH340G_Test/History/
CH340G_Test/SoftwareImplementation/STM32F103_DS18B20_OneWire/STM32TestProject/RTE/
CH340G_Test/SoftwareImplementation/STM32F103_DS18B20_OneWire/STM32TestProject/Objects/
CH340G_Test/SoftwareImplementation/STM32F103_DS18B20_OneWire/STM32TestProject/DebugConfig/
CH340G_Test/SoftwareImplementation/STM32F103_DS18B20_OneWire/STM32TestProject/outfile.lst
CH340G_Test/SoftwareImplementation/STM32F103_DS18B20_OneWire/STM32TestProject/Listings/
CH340G_Test/SoftwareImplementation/STM32F103_DS18B20_OneWire/STM32TestProject/ProjectFile_Sequences*
Spartan3_TestBoard/EFM8BB10F2G/main.OBJ
Spartan3_TestBoard/EFM8BB10F2G/main.#1
Spartan3_TestBoard/EFM8BB10F2G/main.LST
Spartan3_TestBoard/EFM8BB10F2G/tmp.out
**/History/
**/__Previews/
**/Project Logs for */
